.info{
    list-style: none; 
    text-align: left;
}


.img {
    width: 130px;
    height: 120px;
}

.row{
    margin: 1%;
}

.list-group-item{
    width: 70%;
}

.icons-right{
    position: relative;
    top: 76%;
    left: 90%;
}

.list-group{
    align-items: center;
}